@font-face {
    font-family: openSans;
    src: url('./assets/fonts/OpenSans-VariableFont_wdth,wght.ttf');
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImage{
    background-image: url('./assets/images/full_screen.webp');
    background-size: cover;
    background-position: center;
    
    
    background-repeat: no-repeat;
}
.courseImg{
    background-image: url('./assets/images/fullbleed_full_hero_courses_1400x500_2_1575.webp');
    background-size: cover;
    background-position: center;
}

.bgGradient{
   background-color: #000000cb;
}

.bgGradient2{
    background: linear-gradient(to right,rgb(94, 91, 91) 70%,rgb(71, 69, 69));
}

/* @layer base{
    p{
        @apply text-gray-500
    }
} */

.show:hover div{
    display: grid;
}